<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图书管理系统</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="title">
        <h3>图书管理系统</h3>
    </div>
    <div class="content">
        <form class="search" action="/searchBook" method="post">
            请输入名称：<input type="text" name="name" />
            <input style="margin:0 15px;" type="submit" value="查询" />
            <a href="/toAdd">添加图书</a>
        </form>
        
        <table width="100%" border="1" borderColor="orange" cellpadding="0" cellspacing="0">
            <thead>
                <tr height="40">
                    <th>编号</th>
                    <th>名称</th>
                    <th>作者</th>
                    <th>分类</th>
                    <th>描述</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr align="center" height="40">
                   <td>1</td>
                   <td>西游记</td>
                   <td>吴承恩</td>
                   <td>文学</td>
                   <td>佛教与道教的斗争</td>
                   <td><a href="#">修改</a> | <a href="#">删除</a></td>
               </tr> -->

                {{each list}}
                <tr align="center" height="40">
                    <td>{{ $value.id }}</td>
                    <td>{{ $value.name }}</td>
                    <td>{{ $value.author }}</td>
                    <td>{{ $value.category }}</td>
                    <td>{{ $value.desc }}</td>
                    <td><a href="/toEdit?id={{$value.id}}">修改</a> | <a href="/delete?id={{$value.id}}">删除</a></td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</body>

</html>